<!DOCTYPE html>
 <html>
     <head>
         <title>All Coupons</title>
     </head>
     <body>
         <h1><%= @coupon.store %></h1>
         <h1><%= @coupon.coupon_code %></h1>
     </body>
 </html> 